[Unit]
Description=Halloween SoundBox
After=network.target

[Service]
ExecStart=/usr/bin/python -u halloween-soundbox.py > halloween-soundbox.log 2>&1
WorkingDirectory=/home/pi
Restart=always
User=pi

[Install]
WantedBy=multi-user.target